<div class="common_dialog_div">
您确定删除以下问题吗？
</div>

<div class="common_dialog_content">
<div class="common_dialog_div">
  <span class="common_dialog_left_span"><b>ID:</b></span>
  <span class="common_dialog_right_span">{{question.id}}</span></div>
<div class="common_dialog_div">
  <span class="common_dialog_left_span"><b>名字:</b></span>
  <span class="common_dialog_right_span">{{question.contact.display_name}}</span></div>
<div class="common_dialog_div">
  <span class="common_dialog_left_span"><b>提问时间:</b></span>
  <span class="common_dialog_right_span">{{question.created_at.strftime('%Y/%m/%d %H:%M')}}</span></div>
</div>

<div class="common_dialog_div">
  <form id="question_delete_form">
    <input type="hidden" name='id' value='{{question.id}}' />
  </form>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="post_from_question_panel('/admin/question/delete', 'question_delete_form')">OK</a>
</div>
